				@font-face {
					font-family: 'iskry-reguler';
					src: url('5033Iskry-Reguler.woff2') format('woff2'),
						url('5033Iskry-Reguler.woff') format('woff');
					  font-display: auto;
				}

				.iskry-reguler{font-family: 'iskry-reguler' !important;}

						@font-face {
					font-family: 'qene-g-regular';
					src: url('2196Qene-G-Regular.woff2') format('woff2'),
						url('2196Qene-G-Regular.woff') format('woff');
					  font-display: auto;
				}

				.qene-g-regular{font-family: 'qene-g-regular' !important;}

						@font-face {
					font-family: 'ivymode-regular';
					src: url('2070IvyMode-Regular.woff2') format('woff2'),
						url('2070IvyMode-Regular.woff') format('woff');
					  font-display: auto;
				}

				.ivymode-regular{font-family: 'ivymode-regular' !important;}

						@font-face {
					font-family: 'mesheddisplay-regula';
					src: url('2775MeshedDisplay-Regula.woff2') format('woff2'),
						url('2775MeshedDisplay-Regula.woff') format('woff');
					  font-display: auto;
				}

				.mesheddisplay-regula{font-family: 'mesheddisplay-regula' !important;}

						@font-face {
					font-family: 'aston-script';
					src: url('6777Aston-Script.woff2') format('woff2'),
						url('6777Aston-Script.woff') format('woff');
					  font-display: auto;
				}

				.aston-script{font-family: 'aston-script' !important;}

						@font-face {
					font-family: 'qene-g-regular';
					src: url('5230Qene-G-Regular.woff2') format('woff2'),
						url('5230Qene-G-Regular.woff') format('woff');
					  font-display: auto;
				}

				.qene-g-regular{font-family: 'qene-g-regular' !important;}

						@font-face {
					font-family: 'javassoul';
					src: url('1542Javassoul.woff2') format('woff2'),
						url('1542Javassoul.woff') format('woff');
					  font-display: auto;
				}

				.javassoul{font-family: 'javassoul' !important;}

						@font-face {
					font-family: 'hatolie';
					src: url('345Hatolie.woff2') format('woff2'),
						url('345Hatolie.woff') format('woff');
					  font-display: auto;
				}

				.hatolie{font-family: 'hatolie' !important;}

						@font-face {
					font-family: 'belle-amour-font';
					src: url('3129Belle-Amour-Font.woff2') format('woff2'),
						url('3129Belle-Amour-Font.woff') format('woff');
					  font-display: auto;
				}

				.belle-amour-font{font-family: 'belle-amour-font' !important;}

						@font-face {
					font-family: 'authentic-heart';
					src: url('5426Authentic-Heart.woff2') format('woff2'),
						url('5426Authentic-Heart.woff') format('woff');
					  font-display: auto;
				}

				.authentic-heart{font-family: 'authentic-heart' !important;}

						@font-face {
					font-family: 'petrichor';
					src: url('1325Petrichor.woff2') format('woff2'),
						url('1325Petrichor.woff') format('woff');
					  font-display: auto;
				}

				.petrichor{font-family: 'petrichor' !important;}

						@font-face {
					font-family: 'southerns';
					src: url('910Southerns.woff2') format('woff2'),
						url('910Southerns.woff') format('woff');
					  font-display: auto;
				}

				.southerns{font-family: 'southerns' !important;}

						@font-face {
					font-family: 'signatie';
					src: url('6839Signatie.woff2') format('woff2'),
						url('6839Signatie.woff') format('woff');
					  font-display: auto;
				}

				.signatie{font-family: 'signatie' !important;}

						@font-face {
					font-family: 'italiana-reguler';
					src: url('275Italiana-Reguler.woff2') format('woff2'),
						url('275Italiana-Reguler.woff') format('woff');
					  font-display: auto;
				}

				.italiana-reguler{font-family: 'italiana-reguler' !important;}

						@font-face {
					font-family: 'grandiosity-regular';
					src: url('1699Grandiosity-Regular.woff2') format('woff2'),
						url('1699Grandiosity-Regular.woff') format('woff');
					  font-display: auto;
				}

				.grandiosity-regular{font-family: 'grandiosity-regular' !important;}

						@font-face {
					font-family: 'mahalini';
					src: url('3769Mahalini.woff2') format('woff2'),
						url('3769Mahalini.woff') format('woff');
					  font-display: auto;
				}

				.mahalini{font-family: 'mahalini' !important;}

						@font-face {
					font-family: 'newyork';
					src: url('2978NewYork.woff2') format('woff2'),
						url('2978NewYork.woff') format('woff');
					  font-display: auto;
				}

				.newyork{font-family: 'newyork' !important;}

						@font-face {
					font-family: 'humble-signation';
					src: url('8698Humble-Signation.woff2') format('woff2'),
						url('8698Humble-Signation.woff') format('woff');
					  font-display: auto;
				}

				.humble-signation{font-family: 'humble-signation' !important;}

		